body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.countdown-wrapper {
  text-align: center;
}

input,
button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
}
